# 1 Carga de datos

In [101]:
import pandas as pd
import numpy as np
import warnings

In [156]:
df = pd.read_csv("/home/clisueno/output/unificado.csv", quoting=1)

In [157]:
df.shape

(19791, 42)

In [33]:
df.columns

Index(['pte_nombre', 'pte_edad_anos', 'pte_edad_meses', 'pte_edad_dias',
       'pte_id', 'pte_peso', 'pte_medida_peso', 'pte_talla',
       'pte_medida_talla', 'pte_imc', 'pte_cuello', 'pte_medida_cuello',
       'pte_perimetro_abdominal', 'pte_medida_perimetro_abdominal',
       'proced_solicita', 'proced_empresa', 'proced_fecha', 'proced_epworth',
       'proced_tiempo_en_cama', 'proced_tiempo_sueno',
       'proced_eficiencia_sueno', 'proced_latencia_sueno_total',
       'proced_latencia_sueno_rem', 'proced_indice_microalertamientos',
       'proced_porcentaje_sueno_rem', 'proced_porcentaje_sueno_profundo',
       'proced_iac', 'proced_iao', 'proced_iam', 'proced_indice_desat_rem',
       'proced_indice_desat_nrem', 'proced_indice_desat_total',
       'proced_oxim_menor90_total', 'proced_oxim_menor80_total',
       'proced_oxim_menor70_total', 'proced_oxim_menor60_total', 'proced_t90',
       'proced_numero_eventos_ah', 'proced_ih', 'proced_iah', 'fuente',
       'uuid'],
      dtype='object')

# 2 Asignación de tipos

## 2.1 Declaración de tipos

In [158]:
variables_str = [
    'pte_nombre',
    'pte_id',
    'pte_medida_peso',
    'pte_medida_talla',
    'pte_medida_cuello',
    'pte_medida_perimetro_abdominal',
    'proced_solicita',
    'proced_empresa',
    'fuente',
    'uuid'


]

variables_int = [


]

variables_float = [
    'pte_edad_anos',
    'pte_edad_meses',
    'pte_edad_dias',
    'proced_epworth',
    'pte_peso',
    'pte_talla',
    'pte_imc',
    'pte_cuello',
    'pte_perimetro_abdominal',
    'proced_tiempo_en_cama',
    'proced_tiempo_sueno',
    'proced_eficiencia_sueno',
    'proced_latencia_sueno_total',
    'proced_latencia_sueno_rem',
    'proced_indice_microalertamientos',
    'proced_porcentaje_sueno_rem',
    'proced_porcentaje_sueno_profundo',
    'proced_iac',
    'proced_iao',
    'proced_iam',
    'proced_indice_desat_rem',
    'proced_indice_desat_nrem',
    'proced_indice_desat_total',
    'proced_oxim_menor90_total',
    'proced_oxim_menor80_total',
    'proced_oxim_menor70_total',
    'proced_oxim_menor60_total',
    'proced_t90',
    'proced_ih',
    'proced_iah',
    'proced_numero_eventos_ah'


]

variables_datetime = ['proced_fecha']

## 2.2 Definición de funciones

In [159]:
import pandas as pd
from datetime import datetime
import numpy as np
import warnings

# Variables DATETIME ***********************************

import pandas as pd
from datetime import datetime

def validar_transformar_datetime(df, variables):

    # Inicializar listas de resultados
    variables_no_encontradas = []
    variables_transformadas = []
    variables_no_transformadas = []

    def convertir_fecha(fecha_str):
        try:
            return pd.to_datetime(str(fecha_str).strip(), dayfirst=True, errors='coerce')
        except Exception:
            return pd.NaT

    for variable in variables:
        if variable not in df.columns:
            variables_no_encontradas.append(variable)
        else:
            # Aplicar conversión
            df[variable] = df[variable].apply(convertir_fecha)
            df[variable] = df[variable].dt.floor("D")  # elimina la hora, conserva datetime64[ns]

            # Verificar si se transformó exitosamente
            if df[variable].isna().all():
                variables_no_transformadas.append(variable)
            else:
                variables_transformadas.append(variable)

    # Reporte
    print("\n************ Resultado de la transformación **************\n")
    print(f"{len(variables_no_encontradas)} Variables no encontradas: {variables_no_encontradas}")
    print(f"{len(variables_no_transformadas)} Variables no transformadas: {variables_no_transformadas}")
    print(f"{len(variables_transformadas)} Variables transformadas exitosamente: {variables_transformadas}")

    return {
        "no_encontradas": variables_no_encontradas,
        "no_transformadas": variables_no_transformadas,
        "transformadas": variables_transformadas
    }


# Validación y transformación a FLOAT *****************************

import pandas as pd

def validar_transformar_int(df, variables):

    variables_no_encontradas = []
    variables_transformadas = []
    variables_no_transformadas = []

    for var in variables:
        if var not in df.columns:
            variables_no_encontradas.append(var)
            print(f"La columna '{var}' no se encuentra en el DataFrame.")
        else:
            try:
                # Reemplazar comas por puntos y convertir a número
                df[var] = df[var].astype(str).str.replace(',', '.', regex=False)
                df[var] = pd.to_numeric(df[var], errors='coerce').astype('Int64')

                if df[var].isna().all():
                    variables_no_transformadas.append(var)
                else:
                    variables_transformadas.append(var)

            except Exception as e:
                variables_no_transformadas.append(var)
                print(f"Error al transformar la columna '{var}' a enteros: {e}")

    print("\n************ Resultado de la transformación **************\n")
    print(f"{len(variables_no_encontradas)} Variables no encontradas: {variables_no_encontradas}")
    print(f"{len(variables_no_transformadas)} Variables no transformadas: {variables_no_transformadas}")
    print(f"{len(variables_transformadas)} Variables transformadas exitosamente: {variables_transformadas}")

    return {
        "no_encontradas": variables_no_encontradas,
        "no_transformadas": variables_no_transformadas,
        "transformadas": variables_transformadas
    }


# Validación y transformación a FLOAT ************************************************

import pandas as pd

def validar_transformar_float(df, variables):
    """
    Valida y transforma columnas en un DataFrame a tipo float, convirtiendo comas en puntos
    y usando NaN para valores no válidos.

    Args:
        df (pd.DataFrame): DataFrame a validar y transformar.
        variables (list): Lista de nombres de las columnas a validar y transformar.

    Returns:
        dict: Diccionario con las listas de variables no encontradas, transformadas exitosamente
              y no transformadas.
    """
    variables_no_encontradas = []
    variables_transformadas = []
    variables_no_transformadas = []

    for var in variables:
        if var not in df.columns:
            variables_no_encontradas.append(var)
            print(f"La columna '{var}' no se encuentra en el DataFrame.")
        else:
            try:
                # Estandarizar separadores decimales
                df[var] = df[var].astype(str).str.replace(',', '.', regex=False)
                df[var] = pd.to_numeric(df[var], errors='coerce').astype(float)

                if df[var].isna().all():
                    variables_no_transformadas.append(var)
                else:
                    variables_transformadas.append(var)

            except Exception as e:
                variables_no_transformadas.append(var)
                print(f"Error al transformar la columna '{var}' a flotante: {e}")

    print("\n************ Resultado de la transformación **************\n")
    print(f"{len(variables_no_encontradas)} Variables no encontradas: {variables_no_encontradas}")
    print(f"{len(variables_no_transformadas)} Variables no transformadas: {variables_no_transformadas}")
    print(f"{len(variables_transformadas)} Variables transformadas exitosamente: {variables_transformadas}")

    return {
        "no_encontradas": variables_no_encontradas,
        "no_transformadas": variables_no_transformadas,
        "transformadas": variables_transformadas
    }


# Validación y transformación a STRING ****************************************

def validar_transformar_str(df, variables):
    """
    Valida y transforma columnas en un DataFrame a tipo str, conservando los NaN como valores faltantes.

    Args:
        df (pd.DataFrame): DataFrame a validar y transformar.
        variables (list): Lista de nombres de las columnas a validar y transformar.

    Returns:
        dict: Diccionario con los resultados de la transformación.
    """
    import warnings
    import pandas as pd

    variables_no_encontradas = []
    variables_transformadas = []
    variables_no_transformadas = []
    variables_con_warnings = []

    for var in variables:
        if var not in df.columns:
            variables_no_encontradas.append(var)
            print(f"La columna '{var}' no se encuentra en el DataFrame.")
        else:
            try:
                with warnings.catch_warnings(record=True) as w:
                    warnings.simplefilter("always", UserWarning)

                    df[var] = df[var].astype("string")  # usa tipo string (acepta pd.NA)

                    if len(w) > 0:
                        variables_con_warnings.append(var)

                    if df[var].isna().all():
                        variables_no_transformadas.append(var)
                    else:
                        variables_transformadas.append(var)

            except Exception as e:
                variables_no_transformadas.append(var)
                print(f"Error al transformar la columna '{var}' a cadena: {e}")

    print("\n************ Resultado de la transformación **************\n")
    print(f"{len(variables_no_encontradas)} Variables no encontradas: {variables_no_encontradas}")
    print(f"{len(variables_no_transformadas)} Variables no transformadas: {variables_no_transformadas}")
    print(f"{len(variables_con_warnings)} Variables transformadas con warnings: {variables_con_warnings}")
    print(f"{len(variables_transformadas)} Variables transformadas exitosamente: {variables_transformadas}")

    return {
        "no_encontradas": variables_no_encontradas,
        "no_transformadas": variables_no_transformadas,
        "con_warnings": variables_con_warnings,
        "transformadas": variables_transformadas
    }

## 2.3 Aplicación

In [29]:
df.head()

,pte_nombre,pte_edad_anos,pte_edad_meses,pte_edad_dias,pte_id,pte_peso,pte_medida_peso,pte_talla,pte_medida_talla,pte_imc,...,proced_indice_desat_total,proced_oxim_menor90_total,proced_oxim_menor80_total,proced_oxim_menor70_total,proced_oxim_menor60_total,proced_t90,proced_numero_eventos_ah,proced_ih,proced_iah,fuente
0,ABRAHAM FONTALVO ROMERO,60,NaN,NaN,91420156,70,Kg,170,cm,24.2,...,28.3,3,0,0,0,0.7,329,1.7,46.8,/home/clisueno/output/resultados_psg_rtf.csv
1,ADRIANA BECERRA GUEVARA,46,NaN,NaN,37511735,77,Kg,153,cm,32.9,...,7.2,14.1,0,0,0,3.6,46,5.3,7,/home/clisueno/output/resultados_psg_rtf.csv
2,ALCIRA HERRERA CIFUENTES,51,NaN,NaN,52020220,72,Kg,160,cm,28.13,...,7.9,0.6,0,0,0,0.1,52,5.6,7.3,/home/clisueno/output/resultados_psg_rtf.csv
3,ALEJANDRO VILLABONA ARAMBULA,55,NaN,NaN,91262117,93,Kg,185,cm,27.2,...,2,1.4,0.1,0.1,0.1,0.4,11,1.8,1.8,/home/clisueno/output/resultados_psg_rtf.csv
4,ALEXANDER HERNANDO PACHECO GONZALEZ,47,NaN,NaN,91445323,78,Kg,169,cm,27.3,...,2.1,0.1,0,0,0,0,8,1.9,1.9,/home/clisueno/output/resultados_psg_rtf.csv

In [160]:
validar_transformar_int(df,variables_int)

************ Resultado de la transformación **************

0 Variables no encontradas: []
0 Variables no transformadas: []
0 Variables transformadas exitosamente: []

{'no_encontradas': [], 'no_transformadas': [], 'transformadas': []}

In [161]:
validar_transformar_float(df,variables_float)

************ Resultado de la transformación **************

0 Variables no encontradas: []
0 Variables no transformadas: []
31 Variables transformadas exitosamente: ['pte_edad_anos', 'pte_edad_meses', 'pte_edad_dias', 'proced_epworth', 'pte_peso', 'pte_talla', 'pte_imc', 'pte_cuello', 'pte_perimetro_abdominal', 'proced_tiempo_en_cama', 'proced_tiempo_sueno', 'proced_eficiencia_sueno', 'proced_latencia_sueno_total', 'proced_latencia_sueno_rem', 'proced_indice_microalertamientos', 'proced_porcentaje_sueno_rem', 'proced_porcentaje_sueno_profundo', 'proced_iac', 'proced_iao', 'proced_iam', 'proced_indice_desat_rem', 'proced_indice_desat_nrem', 'proced_indice_desat_total', 'proced_oxim_menor90_total', 'proced_oxim_menor80_total', 'proced_oxim_menor70_total', 'proced_oxim_menor60_total', 'proced_t90', 'proced_ih', 'proced_iah', 'proced_numero_eventos_ah']

{'no_encontradas': [],
 'no_transformadas': [],
 'transformadas': ['pte_edad_anos',
  'pte_edad_meses',
  'pte_edad_dias',
  'proced_epworth',
  'pte_peso',
  'pte_talla',
  'pte_imc',
  'pte_cuello',
  'pte_perimetro_abdominal',
  'proced_tiempo_en_cama',
  'proced_tiempo_sueno',
  'proced_eficiencia_sueno',
  'proced_latencia_sueno_total',
  'proced_latencia_sueno_rem',
  'proced_indice_microalertamientos',
  'proced_porcentaje_sueno_rem',
  'proced_porcentaje_sueno_profundo',
  'proced_iac',
  'proced_iao',
  'proced_iam',
  'proced_indice_desat_rem',
  'proced_indice_desat_nrem',
  'proced_indice_desat_total',
  'proced_oxim_menor90_total',
  'proced_oxim_menor80_total',
  'proced_oxim_menor70_total',
  'proced_oxim_menor60_total',
  'proced_t90',
  'proced_ih',
  'proced_iah',
  'proced_numero_eventos_ah']}

In [162]:
validar_transformar_datetime(df,variables_datetime)

/tmp/ipykernel_92446/3509059149.py:20: UserWarning: Parsing dates in %m-%d-%Y format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  return pd.to_datetime(str(fecha_str).strip(), dayfirst=True, errors='coerce')

************ Resultado de la transformación **************

0 Variables no encontradas: []
0 Variables no transformadas: []
1 Variables transformadas exitosamente: ['proced_fecha']

{'no_encontradas': [],
 'no_transformadas': [],
 'transformadas': ['proced_fecha']}

In [163]:
validar_transformar_str(df,variables_str)

************ Resultado de la transformación **************

0 Variables no encontradas: []
0 Variables no transformadas: []
0 Variables transformadas con warnings: []
10 Variables transformadas exitosamente: ['pte_nombre', 'pte_id', 'pte_medida_peso', 'pte_medida_talla', 'pte_medida_cuello', 'pte_medida_perimetro_abdominal', 'proced_solicita', 'proced_empresa', 'fuente', 'uuid']

{'no_encontradas': [],
 'no_transformadas': [],
 'con_warnings': [],
 'transformadas': ['pte_nombre',
  'pte_id',
  'pte_medida_peso',
  'pte_medida_talla',
  'pte_medida_cuello',
  'pte_medida_perimetro_abdominal',
  'proced_solicita',
  'proced_empresa',
  'fuente',
  'uuid']}

In [39]:
df.dtypes

pte_nombre                          string[python]
pte_edad_anos                              float64
pte_edad_meses                             float64
pte_edad_dias                              float64
pte_id                              string[python]
pte_peso                                   float64
pte_medida_peso                     string[python]
pte_talla                                  float64
pte_medida_talla                    string[python]
pte_imc                                    float64
pte_cuello                                 float64
pte_medida_cuello                   string[python]
pte_perimetro_abdominal                    float64
pte_medida_perimetro_abdominal      string[python]
proced_solicita                     string[python]
proced_empresa                      string[python]
proced_fecha                        datetime64[ns]
proced_epworth                             float64
proced_tiempo_en_cama                      float64
proced_tiempo_sueno                        float64
proced_eficiencia_sueno                    float64
proced_latencia_sueno_total                float64
proced_latencia_sueno_rem                  float64
proced_indice_microalertamientos           float64
proced_porcentaje_sueno_rem                float64
proced_porcentaje_sueno_profundo           float64
proced_iac                                 float64
proced_iao                                 float64
proced_iam                                 float64
proced_indice_desat_rem                    float64
proced_indice_desat_nrem                   float64
proced_indice_desat_total                  float64
proced_oxim_menor90_total                  float64
proced_oxim_menor80_total                  float64
proced_oxim_menor70_total                  float64
proced_oxim_menor60_total                  float64
proced_t90                                 float64
proced_numero_eventos_ah                   float64
proced_ih                                  float64
proced_iah                                 float64
fuente                              string[python]
uuid                                string[python]
dtype: object

# 3 Transformación

## 3.1 Edad a años

In [164]:
df["edad_anos_decimal"] = (
    df["pte_edad_anos"].fillna(0) +
    df["pte_edad_meses"].fillna(0) / 12 +
    df["pte_edad_dias"].fillna(0) / 365.25
)

In [165]:
print(df['pte_edad_anos'][1000])
print(df['pte_edad_meses'][1000])
print(df['pte_edad_dias'][1000])
print(df['edad_anos_decimal'][1000])

27.0
nan
nan
27.0

In [166]:
df['edad_anos_decimal'].sample(10)

9837     13.0
9693     60.0
18959    75.0
7703     54.0
8197     47.0
14484    53.0
11337    32.0
4962      9.0
16484    41.0
11541    59.0
Name: edad_anos_decimal, dtype: float64

## 3.2 Peso a Kg

In [167]:
df['pte_medida_peso'].value_counts()

pte_medida_peso
kg    13994
Kg     5627
g        25
kl        1
Name: count, dtype: Int64

In [168]:
# Unificación de unidades: todo a minúsculas y sin espacios
df["pte_medida_peso"] = df["pte_medida_peso"].str.lower().str.strip()

# Definimos sets de unidades por tipo
unidades_kg = {"kg", "kgs", "kgr", "kl"}
unidades_g = {"g", "gr", "grs"}

# Cálculo de peso en kilogramos
df["peso_kg"] = df.apply(
    lambda row: row["pte_peso"] / 1000 if row["pte_medida_peso"] in unidades_g
    else row["pte_peso"] if row["pte_medida_peso"] in unidades_kg
    else None,  # o np.nan
    axis=1
)

In [169]:
# Verificación de que no hay unidades no contempladas
df[~df["pte_medida_peso"].isin(unidades_kg.union(unidades_g))]["pte_medida_peso"].value_counts()

Series([], Name: count, dtype: Int64)

## 3.3 Talla a cms

In [170]:
df['pte_medida_talla'].value_counts()

pte_medida_talla
cm    19137
m       515
Cm        5
a         1
Name: count, dtype: Int64

In [171]:
# Limpieza de texto
df["pte_medida_talla"] = df["pte_medida_talla"].str.lower().str.strip()

# Definir sets de unidades
unidades_metros = {"m", "mts", "metros"}
unidades_centimetros = {"c", "cm", "cms", "a"}

# Reemplazar nulos por 0 (si lo consideras seguro)
df["pte_talla"] = df["pte_talla"].fillna(0)

# Calcular talla en cm
df["talla_cm"] = df.apply(
    lambda row: row["pte_talla"] * 100 if row["pte_medida_talla"] in unidades_metros
    else row["pte_talla"] if row["pte_medida_talla"] in unidades_centimetros
    else None,
    axis=1
)

In [172]:
# Verificación de que no hay unidades no contempladas
df[~df["pte_medida_talla"].isin(["cm", "m"])]["pte_medida_talla"].value_counts()

pte_medida_talla
a    1
Name: count, dtype: Int64

In [173]:
df["talla_cm"].isna().sum()

np.int64(133)

## 3.4 Cuello a cms

In [174]:
df['pte_medida_cuello'].value_counts()

pte_medida_cuello
cm     19702
cms       13
m          5
Cm         2
CM         1
Name: count, dtype: Int64

In [175]:
# Limpieza del texto
df["pte_medida_cuello"] = df["pte_medida_cuello"].str.lower().str.strip()

# Definir unidades válidas
unidades_metros = {"m", "mts", "metros"}
unidades_centimetros = {"c", "cm", "cms"}
unidades_cuello_validas = unidades_metros.union(unidades_centimetros)

# Rellenar nulos si aplica
df["pte_cuello"] = df["pte_cuello"].fillna(0)

# Calcular cuello en cm
df["cuello_cm"] = df.apply(
    lambda row: row["pte_cuello"] * 100 if row["pte_medida_cuello"] in unidades_metros
    else row["pte_cuello"] if row["pte_medida_cuello"] in unidades_centimetros
    else None,
    axis=1
)

In [176]:
df[~df["pte_medida_cuello"].isin(unidades_cuello_validas)]["pte_medida_cuello"].value_counts()

Series([], Name: count, dtype: Int64)

## 3.5 Perimetro abdominal a cms

In [177]:
df['pte_medida_perimetro_abdominal'].value_counts()

pte_medida_perimetro_abdominal
cm     19656
cms        8
m          1
ms         1
.cm        1
cm.        1
ccm        1
Name: count, dtype: Int64

In [178]:
# Limpieza del texto
df["pte_medida_perimetro_abdominal"] = df["pte_medida_perimetro_abdominal"].str.lower().str.strip()

# Definir unidades válidas
unidades_metros = {"m", "ms", "mts"}
unidades_centimetros = {"cm", "cms", "cm.", ".cm", ".ccm", "ccm"}
unidades_abdominal_validas = unidades_metros.union(unidades_centimetros)

# Reemplazar nulos si aplica
df["pte_perimetro_abdominal"] = df["pte_perimetro_abdominal"].fillna(0)

# Calcular perímetro abdominal en cm
df["perimetro_abdominal_cm"] = df.apply(
    lambda row: row["pte_perimetro_abdominal"] * 100 if row["pte_medida_perimetro_abdominal"] in unidades_metros
    else row["pte_perimetro_abdominal"] if row["pte_medida_perimetro_abdominal"] in unidades_centimetros
    else None,
    axis=1
)

In [179]:
df[~df["pte_medida_perimetro_abdominal"].isin(unidades_abdominal_validas)]["pte_medida_perimetro_abdominal"].value_counts()

Series([], Name: count, dtype: Int64)

# 4 EDA

## 4.1 Sumamrize dataframe

### a. Definición

In [72]:
from IPython.display import display, HTML

def format_large_numbers(value):
    """
    Formatea valores numéricos.
    - Valores mayores o menores a ±1E+06 se muestran en notación científica.
    - Otros valores se redondean a dos decimales.
    """
    if isinstance(value, (int, float)):
        if abs(value) > 1e6:
            return f"{value:.2E}"
        return f"{value:.2f}"
    return value  # Retorna el valor original si no es numérico


def summarize_statistics(df):
    """
    Extrae estadísticas básicas (mean, min, max) y las formatea,
    aplicando el cálculo solo a columnas numéricas.
    """
    # Seleccionamos solo las columnas numéricas
    df_numeric = df.select_dtypes(include=[np.number])
    
    # Reemplazamos los valores -9999 por NaN en las columnas numéricas
    df_numeric = df_numeric.replace({-9999: np.nan})
    
    # Calculamos las estadísticas básicas sobre las columnas numéricas
    stats = df_numeric.describe().loc[['mean', 'min', 'max']]
    
    # Usamos apply con map para evitar FutureWarning de applymap
    formatted_stats = stats.apply(lambda col: col.map(format_large_numbers))
    
    return formatted_stats


def calculate_missing_values(df):
    """
    Calcula la cantidad y porcentaje de valores faltantes.
    """
    missing_values = df.isnull().sum()
    missing_percentage = (missing_values / len(df)) * 100
    return pd.DataFrame({
        'Missing Values': missing_values,
        'Missing %': missing_percentage.map(lambda x: f"{x:.2f}%")
    })


def calculate_unique_values(df):
    """
    Calcula la cantidad y porcentaje de valores únicos.
    """
    unique_values = df.nunique()
    unique_percentage = (unique_values / len(df)) * 100
    return pd.DataFrame({
        'Unique Values': unique_values,
        'Unique %': unique_percentage.map(lambda x: f"{x:.2f}%")
    })


def extract_sample_values(df):
    """
    Extrae un valor de muestra por columna, excluyendo NaN y ceros.
    """
    samples = []
    for col in df.columns:
        non_na_values = df[col].dropna()
        non_zero_values = non_na_values[non_na_values != 0]
        if not non_zero_values.empty:
            samples.append(non_zero_values.iloc[0])  # Primer valor válido
        else:
            samples.append("N/A")
    return samples


def calculate_category_frequencies(df):
    """
    Calcula la frecuencia de valores en columnas categóricas,
    ignorando variables que contienen 'fecha'.
    Limita a 10 categorías y agrupa las restantes en 'OTROS'.
    """
    frequencies = []
    for col in df.columns:
        if df[col].dtype == 'object' or df[col].dtype.name == 'category':
            if 'fecha' not in col.lower():
                # Calcular frecuencias
                freq = df[col].value_counts()

                # Separar las 10 más frecuentes y agrupar el resto en "OTROS"
                top_10 = freq[:10]
                others_sum = freq[10:].sum()
                if others_sum > 0:
                    top_10 = pd.concat([top_10, pd.Series({'OTROS': others_sum})])

                # Formatear como cadena concatenada
                freq_str = '"{}"'.format(' | '.join([f"{k}: {v}" for k, v in top_10.items()]))

                frequencies.append(freq_str)
            else:
                frequencies.append("N/A")
        else:
            frequencies.append("N/A")
    return frequencies


def summarize_dataframe(df):
    """
    Genera un resumen detallado de un DataFrame.
    """
    variables = df.columns.tolist()
    summary_stats = summarize_statistics(df)
    data_types = df.dtypes
    missing_info = calculate_missing_values(df)
    unique_info = calculate_unique_values(df)
    sample_values = extract_sample_values(df)
    category_frequencies = calculate_category_frequencies(df)

    # Crear DataFrame resumen
    summary_df = pd.DataFrame({
        'Variable': variables,
        'Data Type': [data_types[col] for col in variables],
        'Count': [df[col].count() for col in variables],
        'Unique Values': [f"{unique_info.loc[col, 'Unique Values']} ({unique_info.loc[col, 'Unique %']})" for col in variables],
        'Category Frequencies': category_frequencies,
        'Missing Values': [f"{missing_info.loc[col, 'Missing Values']} ({missing_info.loc[col, 'Missing %']})" for col in variables],
        'Min': [summary_stats[col]['min'] if col in summary_stats.columns else "N/A" for col in variables],
        'Mean': [summary_stats[col]['mean'] if col in summary_stats.columns else "N/A" for col in variables],
        'Max': [summary_stats[col]['max'] if col in summary_stats.columns else "N/A" for col in variables],
        'Sample': sample_values
    })

    # Mostrar como HTML
    display(HTML(summary_df.to_html(index=False)))

### b. Aplicación

In [73]:
summarize_dataframe(df)

# 5. Carga a BQ

## 5.1 Esquema BQ

### Definir esquema

In [180]:
from google.cloud import bigquery

schemaj = [
    bigquery.SchemaField('uuid', 'STRING', mode='NULLABLE'),
    bigquery.SchemaField('pte_nombre', 'STRING', mode='NULLABLE'),
    bigquery.SchemaField('pte_edad_anos', 'INTEGER', mode='NULLABLE'),
    bigquery.SchemaField('pte_edad_meses', 'INTEGER', mode='NULLABLE'),
    bigquery.SchemaField('pte_edad_dias', 'INTEGER', mode='NULLABLE'),
    bigquery.SchemaField('edad_anos_decimal', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('pte_id', 'STRING', mode='NULLABLE'),
    bigquery.SchemaField('pte_peso', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('pte_medida_peso', 'STRING', mode='NULLABLE'),
    bigquery.SchemaField('peso_kg', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('pte_talla', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('pte_medida_talla', 'STRING', mode='NULLABLE'),
    bigquery.SchemaField('talla_cm', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('pte_imc', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('pte_cuello', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('pte_medida_cuello', 'STRING', mode='NULLABLE'),
    bigquery.SchemaField('cuello_cm', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('pte_perimetro_abdominal', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('pte_medida_perimetro_abdominal', 'STRING', mode='NULLABLE'),
    bigquery.SchemaField('perimetro_abdominal_cm', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_solicita', 'STRING', mode='NULLABLE'),
    bigquery.SchemaField('proced_empresa', 'STRING', mode='NULLABLE'),
    bigquery.SchemaField('proced_fecha', 'DATETIME', mode='NULLABLE'),
    bigquery.SchemaField('proced_epworth', 'INTEGER', mode='NULLABLE'),
    bigquery.SchemaField('proced_tiempo_en_cama', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_tiempo_sueno', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_eficiencia_sueno', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_latencia_sueno_total', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_latencia_sueno_rem', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_indice_microalertamientos', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_porcentaje_sueno_rem', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_porcentaje_sueno_profundo', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_iac', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_iao', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_iam', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_indice_desat_rem', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_indice_desat_nrem', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_indice_desat_total', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_oxim_menor90_total', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_oxim_menor80_total', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_oxim_menor70_total', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_oxim_menor60_total', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_t90', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_numero_eventos_ah', 'INTEGER', mode='NULLABLE'),
    bigquery.SchemaField('proced_ih', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('proced_iah', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('fuente', 'STRING', mode='NULLABLE')
]

In [181]:
import os
service_account_file = "/home/clisueno/secrets/observatorio-ino-1-78cfc246d28f-key.json"
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = service_account_file

In [182]:
client = bigquery.Client()

In [183]:
tablej = 'observatorio-ino-1.clinica_sueno.tbl_basal'

In [91]:
# OJO!  Ejecutar solamente para crear la tabla cuando no existe

tables = bigquery.Table(tablej, schema=schemaj)
tables.time_partitioning = bigquery.TimePartitioning(
    type_=bigquery.TimePartitioningType.MONTH,
    field='proced_fecha',  # Nombre de la columna de fecha para la partición
    )
tables = client.create_table(tables)
print("Tabla creada: {}".format(tablej))

Tabla creada: observatorio-ino-1.clinica_sueno.tbl_basal

In [184]:
df.shape

(19791, 47)

In [185]:

import pyarrow
job_config = bigquery.LoadJobConfig(
    schema=schemaj,
    write_disposition='WRITE_TRUNCATE'
)
job = client.load_table_from_dataframe(
    df, tablej, job_config=job_config
    )
job.result()

/home/clisueno/venv/lib/python3.12/site-packages/google/cloud/bigquery/_pandas_helpers.py:489: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(

LoadJob<project=observatorio-ino-1, location=us-central1, id=a63513e2-3dbb-4d9f-a79f-1b7bd4bbb471>

In [46]:
df.shape

(19791, 42)

In [100]:
df['proced_fecha'].dtype

dtype('<M8[ns]')

In [99]:
df['proced_fecha'].sample(20)

3934    2024-05-09
13547   2024-01-27
12559   2024-12-06
12790   2024-12-09
2296    2024-04-04
12699   2024-12-22
12621   2024-12-13
8489    2023-06-17
17473   2024-09-29
17312   2024-09-01
2291    2024-04-18
14228   2024-06-07
19263   2025-02-25
5939    2023-04-18
5111    2025-01-13
1667    2023-11-13
510     2023-12-14
4391    2024-10-25
15388   2024-05-21
6430    2023-08-13
Name: proced_fecha, dtype: datetime64[ns]